.ListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  border-radius: 5px;
  background: rgb(20, 24, 29);
  border: 1px solid rgb(11, 66, 107);
  margin: 10px 0;
  color: light;
  transition: background 0.3s;
}

.ListItem:hover {
  background: rgb(27, 36, 45);
  border: 0.7px solid rgb(39, 116, 130);
}
