:root {
  font-family: Inter, system-ui, Awecome, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e0e0e0;
  background-color: rgb(15, 18, 20);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  /* padding: 0 20px; */
}

h1 {
  font-size: 1.2em;
  /* line-height: 1.1; */
}

.button-add {
  background-color: rgb(61, 96, 61);
}

.button-add:hover {
  background-color: rgb(40, 125, 40);
}

button {
  margin-left: 0.75rem;
  border-radius: 4px;
  border: 0.5px solid rgb(158, 171, 199);
  padding: 0.5em 1em;
  font-size: 0.7em;
  font-weight: 350;
  font-family: inherit;
  background-color: #715858;
  cursor: pointer;
}

button:hover {
  border-color: #366e79;
  background-color: #be6868;
}

ul {
  margin: 0 0 10px;
  padding-left: 0px;
}

form {
  display: flex;
  justify-content: space-between;
}

/* checkboxes */
input {
  padding: 0.5em;
  font-size: 1em;
  font-weight: 400;
  border: 1px solid #555555;
  border-radius: 4px;
  background-color: #333;
  color: #e0e0e0;
  cursor: pointer;
}

input:focus {
  border-color: #6a8bae;
  outline: none;
}
